# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs
### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
# flymake-mode
*_flymake.*
# eshell files
/eshell/history
/eshell/lastdir
# elpa packages
/elpa/
# reftex files
*.rel
# AUCTeX auto folder
/auto/
# cask packages
.cask/
dist/
# Flycheck
flycheck_*.el
# server auth directory
/server/
# projectiles files
.projectile
# directory configuration
.dir-locals.el
# network security
/network-security.data
# End of https://www.gitignore.io/api/emacs
evil
elpa
*.dat
myinit.el
/recentf
transient/**
projectile-bookmarks.eld
/sunrise-commander/
.markdown-preview.html
.mc-lists.el
README.html
init.el
transient/history.el
amx-items
places
smex-items
/aweshell/
/.last-package-update-day
*.1
/history
/bm-repository
/ede-projects.el
/cool-moves/
/quelpa/cache
/quelpa/melpa/
/quelpa/build/quelpa/
/var/amx-save.el
/var/savehist.el
/var/smex-save.el
/var/save-place.el
/var/ac-comphist.el
/var/recentf-save.el
/var/prescient-save.el
/var/transient/history.el
/var/projectile/known-projects.el
